.body {
  margin: 3vh 3vw;
  padding-bottom: 3vh;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  border: 5px solid #ddd;
}

.clickableSmall {
  cursor: pointer;
}

.clickableSmall:hover {
  border: 1px solid #ddd;
}

.nobreak {
  white-space: nowrap;
}

.image-col {
  max-width: fit-content;
}
